*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* large screen and desktop size */

@media (min-width: 1440px){
    .side-panel{
        width: 250px;
        height: 740px;
        background-color: #552834;
        padding: 10px;
        position: fixed;
        display: flex;
        flex-direction: column;
    }

    /* avator / profile image */

    .avator{
        width: 240px;
        height: 200px;
        display: flex;
        /* background-color: #f7f4f4; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 2px solid white;
    }

    /* profile title */

    .profile-title{
        display: flex;
        padding-top: 8px;
        color: #f4f4f4;
        font-family: Arial;
    }

    /* men holders */

    .menu{
        display: flex;
        margin-top: 12px;
        padding: 10px;
        flex-direction: column;
        width: 200px;
        /* background-color: white; */
        height: 400px;
    }

    .icon{
        margin-top: 10px;
    }

    .container-1{
        width: 84%;
        margin: auto;
        /* background-color: black; */
        padding: 10px 18px;
        margin-top: 20px;
        margin-left: 240px;
        display: flex;
        height: 180px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }

    .box-1{
        width: 300px;
        background-color: #f7f4f4;;
        padding: 10px;
        height: 100px;
        display: flex;
        border-radius: 5px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        align-items: center;
        flex-direction: row;

    }

    .box-2{
        width: 300px;
        background-color: #f7f4f4;;
        padding: 10px;
        height: 100px;
        display: flex;
        border-radius: 5px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        flex-direction: row;
        align-items: center;
    }

     .box-3{
        width: 300px;
        background-color: #f7f4f4;;
        padding: 10px;
        height: 100px;
        display: flex;
        border-radius: 5px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        flex-direction: row;
        align-items: center;
    }

     .box-4{
        width: 300px;
        background-color: #f7f4f4;;
        padding: 10px;
        height: 100px;
        display: flex;
        border-radius: 5px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        flex-direction: row;
        align-items: center;
    }
    
    .product-icon{
        width: 80px;
        padding: 10px;
        height: 50px;
        /* background-color: black; */
        display: flex;
        color: #552834;
        font-size: 50px;
        align-items: center;
    }

    .title{
        width: 100px;
        padding: 10px;
        height: 50px;
        /* background-color: black; */
        display: flex;
        color: #552834;
        font-size: 14px;
        align-items: center;
        text-align: center;
        font-weight: bold;
    }

    .quantity{
        width: 50px;
        padding: 10px;
        height: 50px;
        /* background-color: black; */
        display: flex;
        color: #552834;
        font-size: 28px;
        align-items: center;
        text-align: center;
    }

    .main-table{
        width: 75%;
        margin: auto;
        background-color: #f4f4f4;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        margin-left: 300px;
        margin-top: 20px;
        padding: 10px 18px;
        height: 400px;
    }

    .day-info{
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 10px 14px;
        justify-content: space-between;
        color: #552834;
        border-bottom: 2px solid black;
    }

    .table-holder{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 10px 18px;
        /* background-color: red; */
        margin-top: 10px; 
    }

    .table-1 > h3{
        text-align: center;
        font-size: 10px;
    }

    .table-1{
        width: 35.5%;
        height: auto;
        padding: 10px;
        /* background-color: black; */
        margin-top: 10px;
        color: #552834;
        font-size: 12px;
    }
    
    /* add item styles  */

    .form-container{
        width: 75%;
        margin: auto;
        margin-left: 300px;
        padding: 10px 18px;
        background-color: #f4f4f4;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        height: auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .sub-title{
        width: 210px;
        padding: 8px;
        color: #552834;
        font-weight: bold;
    }

    .form{
        margin-top: 10px;
        width: 100%;
        padding: 10px 18px;
        display: flex;

    }

    input[type="select"]{
        width: 40px;
    }



    /* manage stock contents */

    .main-container{
        width: 75%;
        margin: auto;
        background-color: #f4f4f4;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        margin-left: 300px;
        margin-top: 20px;
        padding: 10px 18px;
        height: 400px;
    }

    .thead{
        background-color: red;
    }


    /* record sales styles */

    .col-span-1{
        width: 75%;
        margin: auto;
        margin-left: 300px;
        padding: 10px 18px;
        height: auto;
        background-color: #f4f4f4;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        margin-top: 20px;
        display: flex;
        flex-direction: row;
    }

    .col-span{
        display: flex;
        width: 49%;
        height: auto;
        flex-direction: row;
        /* background-color: red; */
        padding: 0px 14px;
    }

    .col-span-2{
        display: flex;
        width: 49%;
        height: 400px;
        /* background-color: rgb(39, 26, 26); */
        padding: 0px 14px;
        margin-left: 30px;
        overflow-y: auto;
        flex-direction: column;
    }

}